body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #EDF6FF;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

img {
  width: 100%;
  border-radius: 10px;
}

button {
  cursor: pointer;
  width: 80%;
  max-width: 500px;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  margin: 15px auto;
  display: block;
  border: none;
  outline: none;
  color: white;
  background: #8AB8F8;
  transition: background 0.3s ease;
}

button:hover {
  background: #5F94D6;
}

#score {
  margin-top: 20px;
  font-size: 20px;
}

#leaderboard {
  display: none;
  margin-top: 20px;
}

table {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  border: 3px solid #333;
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.resize-img {
  width: 80%;
  max-width: 500px;
}

.method {
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  justify-self: center;
  outline-offset: 1px;
  outline-style: groove;
  border-radius: 10px;
  margin-bottom: 20px;
}

.stage {
  width: 80%;
  max-width: 560px;
  justify-content: center;
  justify-self: center;
  outline-offset: 1px;
  outline-style: dotted;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}