/* src/components/Timeline.css */
.timeline-page {
    display: flex;
    flex-direction: row; /* 좌우 배치를 위해 추가 */
}

.timeline-nav {
    width: 20%;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    position: fixed;
    left: 1%; 
    top: 1%;
    z-index: 1000;
    max-height: 80vh; /* 최대 높이를 설정하여 화면 높이의 80%로 제한 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤을 생성 */
    transition: position 0.3s ease-in-out;
}


.timeline-nav ul {
    list-style: none;
    padding: 0;
}

.timeline-nav ul li {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    background: #3498db;
    color: white;
    border-radius: 4px;
    font-size: medium;
    text-align: left;
    justify-content: space-between;
}

.timeline-nav ul li:hover {
    background: #2980b9;
}

.timeline-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-left: 22%;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.timeline:before {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    left: 52%;
    width: 2px;
    height: 100%;
    background: #3498db;
}

h1 {
    align-self: center;
}

/* Timeline.css */
.nav-toggle-button {
    display: none; /* 기본적으로 숨김 */
}

@media (max-width: 768px) {

    .timeline-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 0;
        padding: 0px;
    }    

    .nav-toggle-button {
        display: block; /* 모바일 환경에서는 버튼을 보이도록 */
        margin: 10px;
        padding: 10px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 90%;
        z-index: 1001;
        position: fixed;
        left: 5%;
        top: 0;
    }

    .timeline-nav {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        max-width: 20%;
        margin-top: 10%;
        margin-bottom: 20px;
        display: none; /* 기본적으로 숨김 */
        z-index: 1000;
    }

    .timeline-nav.open {
        display: block; /* 내비게이션이 열릴 때 보이도록 */
    }

    .timeline-nav.closed {
        display: none; /* 내비게이션이 닫힐 때 숨김 */
    }
}
